.cash-sidebar {
  display: inline-block;
  width: 290px;
  height: 100vh;
  background-color: #FBFDFE;
  margin-left: 0px;
  float: left;
}

.sidebar-title-img {
  margin-top: 20px;
  margin-left: 26px;
  margin-bottom: 42px;
  vertical-align: middle;
}

.nav-div {
  height: 53px;
  border-left: #00AD8C 4px solid;
  vertical-align: middle;
}

.nav-button {
  margin-left: 20px;
  position: relative;
  top: 25%;
}

.sidebar-button {
  font-style: normal;
  font-weight: 600;
  color: #00AD8C;
  text-decoration: none;
  margin-left: 10px;
  display: inline-block;
}

.title-div {
  margin-top: 107px;
  margin-bottom: 20px;
}

.notas-fiscais {
  height: 10px;
}

.notas-list {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.notas-img-title {
  height: 30px;
  margin-top: -9px;
  margin-right: 12px;
}

.notas-title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: black;
}

.notas-subtitle {
  color: #727D94;
}

.table-head {
  font-size: 13px;
  padding-right: 23px;
  padding-left: 10px;
  color: #A1A8B8;
}

.head-left {
  padding-left: 27px;
}

.body-row {
  border-top: solid 1px #DFE2EB;
  border-bottom: solid 1px #DFE2EB;
  border-radius: 20px;
  padding: 7px;
  padding-left: 10px;
  color: #4D5566;
}

.left-row {
  border-left: solid 1px #DFE2EB;
  padding-left: 27px;
}

.right-row {
  border-right: solid 1px #DFE2EB;
  padding-right: 27px;
}

.line {
  position: absolute;
  margin-top: 68px;
  margin-bottom: 0px;
  width: 100%;
  color: #B0B2B9;
  z-index: 3;
}

.line2 {
  position: absolute;
  width: 290px;
  color: #FBFDFE;
  z-index: 5;
  opacity: 1;
}

.table-button {
  background-color: #ffffff;
  border-radius: 19px;
  border: 1px solid #CAD3FF;
  display: inline-block;
  cursor: pointer;
  color: #727D94;
  font-family: Arial;
  font-size: 15px;
  font-weight: 550;
  padding: 5px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-left: 30px;
}

.table-button:hover {
  background-color: #f6f6f6;
}

.table-button:active {
  position: relative;
  top: 1px;
}

.value-status {
  color: #00AD8C;
}
